body{
	margin: 0;
	padding: 0;
	font-size: 16px;
}

 h1, h2, h3, h4, h5, h6 {
 	margin: 0;
	padding: 0;
	text-transform: uppercase;
 }

 ul, li {
 	display: block;
 	padding: 0;
 	margin: 0;
 }

.header {
	background: rgb(151, 0, 78);
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
	padding-bottom: 10px;
}

.imglogo {
	display: inline-block;
	width: 166px;
	height: auto;
	
}
.header a {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-size: 16px;
}

.help {
	display: flex;
	justify-content: flex-start;
}
.help li {
	margin-right: 20px;
}

.user {
	display: flex;
	justify-content: flex-end;
}
.user li {
	margin-right: 20px;
}


.imgheader {
	width: 30px;
	height: 30px;
}


/* header a{
	color: white;
	text-decoration: none;
}

.nav {
	text-decoration: none;
	display: flex;
	align-items: center;
	padding-top: 10px;
} */

/* .head-section {
	width: 100%;
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url("img/header-bg.jpg");
} */

/* .menu {
	display: flex;
}
.menu li a {
	text-transform: uppercase;
}
.menu li {
	margin-right: 40px;
}
.help {
	margin-left:auto;
}

.wantsearch {
	text-align: center;
	/* background: rgba(0,0,0,0.6); */
	/* background: black;
	opacity: 40%;
	
	padding: 50px; */
/* } */ 